<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Jobseeker Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Your CSS file -->
</head>
<body>
    <h2>Edit Profile</h2>
    
    {% if messages %}
        <ul class = 'error'>
            {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" >
        {% csrf_token %}
        <h3>User Information</h3>
        <div>
            {{ user_form.as_p }}
        </div>

        <h3>Jobseeker Information</h3>
        <div>
            {{ jobseeker_form.as_p }}
            {% if user_form.non_field_errors %}
                <div class="error">{{ user_form.non_field_errors }}</div>
            {% endif %}

        </div>

        <button type="submit">Update Profile</button>
    </form>

    <a href="{% url 'jobseeker_dashboard' %}">Back to Profile</a> <!-- Link to profile page -->
</body>
</html>
