<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post a Job</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Post a New Job</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_job_title">Job Title</label>
            {{ form.job_title }}
        </div>
        <div class="form-group">
            <label for="id_description">Job Description</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label for="id_skills">Skills required</label>
            {{ form.skills }}
        </div>
        <div class="form-group">
            <label for="id_experience">Experience Required (in years)</label>
            {{ form.experience }}
        </div>

        <button type="submit" class="btn btn-primary">Post Job</button>
    </form>
</body>
</html>
