<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as Recruiter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h2>Register as Recruiter</h2>
    <a href="{% url 'job_seeker_register' %}">Register as Job Seeker</a> <!-- Link to switch to job seeker registration -->
    {% if messages %}   
        <ul class="messages">
            {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="id_first_name">First Name:</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <div class="error">{{ form.first_name.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="id_last_name">Last Name:</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <div class="error">{{ form.last_name.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="id_username">Username:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="id_email">Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="id_password">Password:</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="confirm_password">Confirm Password:</label>
            {{ form.confirm_password }}
            {% if form.confirm_password.errors %}
                <div class="error">{{ form.confirm_password.errors }}</div>
            {% endif %}
        </div>
        <div>
            <label for="id_company_name">Company Name:</label>
            {{ form.company_name }}
        </div>
        <button type="submit">Register</button>
    </form>

    <a href="{% url 'login' %}">Already have an account? Login here</a>
</body>
</html>
